#-------------------#
#-----WHITELIST-----#
#-------------------#

# Ignore all by default
*

# Include ignore files
!/.gitignore
!/.stignore

# Include all the tex files in the base directory
!/*.tex
!/*.pdf

# Include all bibliography files
!/reference
!/reference/*.bib

# Include all tex files in the different parts
!/parts
!/parts/*.tex

# Include all media files; by default only images.
!/media
!/media/**

# Include styles
!/style
!/style/*.cls
!/style/*.sty

# Include all markdown files, independent of location
!/**.md

# Ignore temporary latexmk files again just for good measure
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latemk
*.fls
*.lof
*.log
*.run.xml
*.run.toc
*.out
*.synctex.gz
*.xdv
